body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1472c9; 
  height: 113px;
}

.itens-esquerda {
  display: flex;
  align-items: center;
  flex-grow: 1; 
}

.portofix-icon {
  height: 161px;
  width: 170px;
  margin-right: 20px; 
}

.sobre-nos, .contato {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 36px;
  border: 4px solid transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #1E92FE; 
  box-shadow: 0 0 0 2px #1E92FE; 
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.contato {
  margin-left: 10px; 
}


.sobre-nos svg, .contato svg {
  position: absolute;
  width: 24px;
  fill: #FFFFFF; 
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.sobre-nos .arr-1, .contato .arr-1 {
  right: 16px;
}

.sobre-nos .arr-2, .contato .arr-2 {
  left: -25%;
}

.sobre-nos .circle, .contato .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #FFFFFF; 
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.sobre-nos .text, .contato .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.sobre-nos:hover, .contato:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121; 
  border-radius: 12px;
}

.sobre-nos:hover .arr-1, .contato:hover .arr-1 {
  right: -25%;
}

.sobre-nos:hover .arr-2, .contato:hover .arr-2 {
  left: 16px;
}

.sobre-nos:hover .text, .contato:hover .text {
  transform: translateX(12px);
}

.sobre-nos:hover svg, .contato:hover svg {
  fill: #212121; 
}

.sobre-nos:active, .contato:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #1E92FE; 
}

.sobre-nos:hover .circle, .contato:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}


.cadastre-se {
  background-color: #064D8F; 
  color: #FFFFFF; 
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  text-align: center;
}

.cadastre-se:hover {
  background-color: #0056b3; 
}

.fundo-cadastre-se {
  margin-right: 10px; 
}


.fundo-ja-sou-cliente {
  margin-left: 10px; 
}

.ja-sou-cliente {
  background-color: #FFFFFF; 
  color: #007BFF; 
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
}

.ja-sou-cliente:hover {
  background-color: #f0f0f0; 
}

.main-textos {
  text-align: center;
  padding: 50px 20px;
  display: block;
  align-items: center;
  width: 100%;
}

.fazer-um-orcamento {
  margin: 0;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
  width: 100%;
  height: 130px;
}

.texto-apoio {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  width: 100%;
  height: 187px;
  text-align: left;
}

.imagens-undraw {
  display: flex; /* Define o layout como flexbox */
  flex-direction: row; /* Define a direção das colunas como horizontal */
  justify-content: space-around; /* Distribui as imagens com espaço entre elas */
  align-items: center; /* Alinha as imagens verticalmente no centro */
  margin: 20px; /* Adiciona espaço entre as imagens e as bordas da página */
}

.undraw-conserto {
  flex: 1; /* Distribui o espaço disponível igualmente entre as imagens */
  max-width: 50%; /* Define o tamanho máximo da imagem em 50% da largura do container */
  height: auto; /* Mantém a proporção original da imagem */
  border: none; /* Remove a borda preta */
}

.undraw-mobile {
  flex: 1; /* Distribui o espaço disponível igualmente entre as imagens */
  max-width: 50%; /* Define o tamanho máximo da imagem em 50% da largura do container */
  height: auto; /* Mantém a proporção original da imagem */
  border: none; /* Remove a borda preta */
}

@media (max-width: 834px) {
  .body {
    display: none;

  }
}
